* {
  cursor: url(/cursor/normal.cur), auto;
}

a,
a > *,
.arco-image-img,
button,
button > * {
  cursor: url(/cursor/link.cur), pointer;
}

p {
  cursor: url(/cursor/text.cur), auto;
}

button {
  cursor: url(/cursor/notallow.cur), auto;
}

body .cursor-pointer {
  cursor: url(/cursor/normal.cur), pointer;
}

.title {
  letter-spacing: 1.5px;
}

body .wl-panel {
  border-radius: 4px;
  margin: 0;
  border: none;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 3%);
}

div.wl-meta-head {
  background: #fff;
  border-radius: 4px 4px 0 0;
  padding: 12px 16px;
}

.wl-loading {
  background: #fff;
}

textarea.wl-editor {
  margin: 0;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
}

.wl-cards,
.wl-empty {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 8px 4px 0;
}

.wl-sort li {
  font-size: 14px;
}

.wl-cards:has(~ .wl-empty) {
  padding-top: 0px;
}

#app h1 {
  font-size: 28px;
}
