/* * {
  cursor: url(/cursor/normal.cur), auto;
}

a,
a > *,
.arco-image-img,
button,
button > * {
  cursor: url(/cursor/link.cur), pointer;
}

p {
  cursor: url(/cursor/text.cur), auto;
}

button {
  cursor: url(/cursor/notallow.cur), auto;
}

body .cursor-pointer {
  cursor: url(/cursor/normal.cur), pointer;
} */

.title {
  letter-spacing: 1.5px;
}

body .wl-panel {
  border-radius: 4px;
  margin: 0;
}

button.wl-btn.primary {
  background: var(--vp-c-brand);
  border-color: var(--vp-c-brand);
}

body .wl-editor:focus, body .wl-input:focus {
  background: transparent;
}

body .wl-btn {
  border-radius: 4px;
}

body .wl-cards .wl-user {
  padding-top: 8px;
}

div.wl-meta-head {
  border-radius: 4px 4px 0 0;
  padding: 0;
  border-bottom: none;
  background: #fff;
}

div.wl-header {
  border-bottom-width: 1px;
}

.wl-loading {
  background: #fff;
}

textarea.wl-editor {
  margin: 0;
  padding: 4px 12px;
  box-sizing: border-box;
  width: 100%;
}

.wl-cards,
.wl-empty {
  border-radius: 0 0 4px 4px;
  border-top: none;
  padding: 0 0px;
  background: #fff;
}

.wl-sort li {
  font-size: 14px;
}

.wl-cards:has(~ .wl-empty) {
  padding-top: 0px;
}

div.wl-empty {
  font-size: 14px;
  color: #999;
}

#app h1 {
  color: #000;
  font-weight: 400;
  font-size: 24px;
}
