* {
  cursor: url(/cursor/normal.cur), auto;
}

a, a > *, .arco-image-img {
  cursor: url(/cursor/link.cur), pointer;
}


p {
  cursor: url(/cursor/text.cur), auto;
}

button {
  cursor: url(/cursor/notallow.cur), auto;
}

body .cursor-pointer {
  cursor: url(/cursor/normal.cur), pointer;
}
