/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

[class*=' i-icon-'],
[class^='i-icon-'] {
  display: inline-block;
  vertical-align: -2px;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

.Layout {
  height: 100%;
}

::selection {
  background-color: var(--vp-c-brand);
  color: #fff;
}

body h1 {
  margin: 0;
}

html:not(.dark) {
  --vp-c-text-dark-3: #ccc;
  --vp-code-block-bg: rgb(246, 248, 250);
  --vp-code-color: var(--vp-c-brand);
  /* --vp-code-block-bg: #50556b; */
  --vp-code-copy-code-bg: transparent;
  --vp-code-copy-code-hover-bg: transparent;
  --vp-code-copy-code-hover-border-color: transparent;
  --vp-code-line-highlight-color: rgba(238, 238, 238, 1);
}

/**
  * Colors
  * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #33bb99;
  --vp-c-brand-1: #33cc9920;
  --vp-c-brand-light: #33cc99e0;
  --vp-c-brand-lighter: #33cc99a0;
  --vp-c-brand-lightest: #33cc99c0;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-sidebar-bg-color: transparent;
  --vp-nav-height: 56px;
  --vp-code-font-size: 14px;
  --vp-icon-copy: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ij48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0xMyAxMi40MzJ2LTQuNjJBMi44MTMgMi44MTMgMCAwIDEgMTUuODEzIDVoMjQuMzc0QTIuODEzIDIuODEzIDAgMCAxIDQzIDcuODEzdjI0LjM3NUEyLjgxMyAyLjgxMyAwIDAgMSA0MC4xODcgMzVoLTQuNjciLz48cGF0aCBkPSJNMzIuMTg4IDEzSDcuODExQTIuODEzIDIuODEzIDAgMCAwIDUgMTUuODEzdjI0LjM3NEEyLjgxMyAyLjgxMyAwIDAgMCA3LjgxMyA0M2gyNC4zNzVBMi44MTMgMi44MTMgMCAwIDAgMzUgNDAuMTg3VjE1LjgxNEEyLjgxMyAyLjgxMyAwIDAgMCAzMi4xODcgMTNaIi8+PC9nPjwvc3ZnPg==');
  --vp-icon-copied: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0xMCAyNGwxMCAxMGwyMC0yMCIvPjwvc3ZnPg==');
}

/**
  * Component: Button
  * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
  * Component: Home
  * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
  .VPContent .VPDoc {
    padding: 20px 0 40px;
  }
  #app .VPDoc {
    padding: 20px 24px 24px;
  }

}

/**
  * Component: Custom Block
  * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
  * Component: Algolia
  * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

#VPContent .VPDoc.has-aside .content-container {
  max-width: initial;
  margin: 0;
}

.VPNav {
  background: #fff;
  box-shadow: 0 2px 10px rgba(55,99,170,.06);
}

.curtain,
.aside-curtain {
  display: none;
}

#VPContent .aside {
  padding-left: 12px;
  position: absolute;
  right: -256px;
}

@media (min-width: 640px) {
  .vp-doc div[class*='language-'] {
    border-radius: 2px;
  }
}

#VPSidebarNav {
  margin-top: 20px;
  background: #fff;
  padding: 16px;
}

#VPSidebarNav .group {
  padding-top: 0;
  /* width: calc(var(--vp-sidebar-width) - 74px); */
  border-top: none;
}

.level-0 > .item {
  border-bottom: 1px solid #f1f1f1;
  padding: 4px 0 8px;
}

.VPSidebarItem.level-0 h2.text {
  /* border-left: 3px solid #09f; */
  line-height: 1;
  margin: 0;
  padding: 0;
  /* padding-left: 4px; */
}

.VPSidebarItem.level-1.is-link:hover {
  /* background: #f1f3f5; */
  border-radius: 4px;
}

#app .VPSidebar {
  width: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 24px);
  padding-right: 0;
}

#app .aside-container {
  /* width: 256px; */
  padding-top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px) + 20px);
}

#app .aside {
  max-width: 256px;
}

#app .pager-link {
  border-radius: 4px;
  background: #f7fafa;
  border: none;
}
#app .pager-link:hover {
  background: #f1f1f1;
}

#app .VPNavBarTitle.has-sidebar .title {
  border-bottom-color: transparent;
}

#app .VPMenu {
  border-radius: 2px;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 16px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 8px;
  background-color: #33bb9980;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.4) 25%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.4) 0,
    hsla(0, 0%, 100%, 0.4) 75%,
    transparent 0,
    transparent
  );
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #33bb99c0;
}

.content img {
  border: 1px solid #eee;
  border-radius: 4px;
}

.item {
  width: 100%;
  overflow: hidden;
}

.link {
  width: 100%;
}

.text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  font-size: 14px;
  font-weight: 黑体;
}

.items > .VPSidebarItem.level-1 {
  margin-top: 4px;
  /* padding: 0 8px; */
}

.items > .VPSidebarItem.level-1.is-active {
  /* background: hsl(204 100% 95% / 1); */
  /* padding: 0 8px; */
  border-radius: 2px;
}

.vp-doc tr:nth-child(2n) {
  background-color: transparent;
}
.vp-doc h2 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-top: 32px;
  padding-top: 0;
  padding-bottom: 8px;
  border-top: none;
  border-bottom: 1px solid var(--vp-c-divider);
}
.vp-doc h3 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
/* .vp-doc [class*='language-'] pre {
  padding: 12px 0;
}
.vp-doc [class*='language-'] code {
  padding: 0 16px 0 4px;
} */
/* .vp-doc .line-numbers-wrapper {
  padding-top: 12px;
} */
.header-anchor {
  display: none;
}

body .VPDocAsideOutline.has-outline {
  background-color: #ffffff;
  border-radius: 4px;
}
.VPDocAsideOutline .outline-title {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 400;
  border-bottom: 1px solid var(--vp-c-divider);
}
.VPDocAsideOutline ul {
  margin: 8px 0;
}
.VPDocAsideOutline .nested {
  margin: 0;
  padding: 0;
}
.VPDocAsideOutline .nested .outline-link {
  padding-left: 24px;
}
.VPDocAsideOutline .root li {
  margin-top: 2px;
}
.VPDocAsideOutline li .outline-link {
  height: 28px;
  /* padding: 0 9px; */
  border-radius: 4px;
}
#app .VPDocAsideOutline li .outline-active {
  /* background: #f5f5f7; */
  color: var(--vp-c-brand);
}
.VPDocAsideOutline .content {
  padding: 0 12px;
  border-left: none;
  font-size: 14px;
}
.VPDocAsideOutline .outline-marker {
  display: none;
}

.Layout .VPFooter {
  border-top: none;
  background: transparent;
}
@media (min-width: 1440px) {
  .VPDoc:not(.has-sidebar) .container .content {
    max-width: 1080px;
  }
}
@media (min-width: 1440px) {
  #VPContent .VPDoc:not(.has-sidebar) div.container {
    max-width: 880px;
    position: relative;
  }
}
#app .VPNav .VPNavBar {
  border-bottom-color: transparent;
}
.VPDoc .container > .content {
  padding: 0;
  background: #fff;
  padding: 16px 20px;
  border-radius: 4px;
  border-bottom: 1px solid var(--vp-c-divider);
  box-shadow: 0 2px 10px rgba(55,99,170,.06);
}
.VPImage.logo {
  border-radius: 4px;
}
#app .DocSearch-Button {
  border-radius: 4px;
  height: 32px;
}
#app .shell {
  border-radius: 4px;
}
#app .vp-doc div[class*='language-'] {
  margin: 0 0 16px;
  border-radius: 4px;
}
#app .VPDoc {
  padding: 20px 8px 20px;
}
.vp-doc [class*='language-'] > button.copy.copied::before,
.vp-doc [class*='language-'] > button.copy:hover.copied::before {
  content: '';
}
.vp-doc a {
  color: var(--vp-c-brand);
  text-decoration: none;
  text-underline-offset: 2px;
}
.vp-doc a:hover {
  color: var(--vp-c-brand);
  text-decoration: underline;
}
#app pre,
#app code,
#app kbd,
#app samp {
  font-family: var(--vp-font-family-mono);
}

body .vp-doc [class*='language-'] > button.copy {
  width: 16px;
  height: 16px;
  background-size: 16px;
  opacity: 0.3;
}

body .vp-doc [class*='language-'] > span.lang {
  display: none;
}

.item .arco-image-img {
  aspect-ratio: 16/9;
}

.VPNavBarTitle .title {
  font-size: 18px;
  font-weight: 400;
}
.title:hover {
  color: var(--vp-c-brand);
}

body {
  /* background-image: url(./bg.jpg); */
  background-color: #f3f6f9;
  background-size: 100% auto;
  background-attachment: fixed;
  overflow: overlay;
}

table {
  width: 100%;
  max-width: 100%;
}

th,td {
  width: auto;
}

.vp-doc .line-numbers-wrapper {
  border-right: none;
}

div.vp-doc table {
  display: table;
}

div.vp-doc table th {
  background-color: var(--vp-code-block-bg);
}

a {
  text-decoration: none;
}